<head>
    <!-- Meta Start -->
    <meta charset="utf-8">
    <title>Node.js Facebook Anonymous Post</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <Meta http-equiv="Expires" Content="0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="author" content="Cliff Su">
    <meta name="copyright" content="Cliff Su">
    <meta name="description" content="Node.js Facebook Anonymous Post">
    <meta name="distribution" content="Taiwan">
    <meta name="generator" content="VS Code">
    <link rel="stylesheet" href="./bootstrap.min.css">
    <link rel="stylesheet" href="./imgupload.css">
    <link rel="stylesheet" href="./style.css">
    <!-- Standard icon Start -->
    <link rel="icon" href="favicon/favicon-16x16.ico" sizes="16x16">
    <link rel="icon" href="favicon/favicon-32x32.ico" sizes="32x32">
    <link rel="icon" href="favicon/favicon-96x96.ico" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-96x96.png" sizes="96x96">
    <!-- Standard icon End -->
    <!-- Chrome favicon Start -->
    <link rel="icon" type="image/png" href="favicon/favicon-192x192.png" sizes="192x192">
    <!-- Chrome favicon End -->
    <!-- Meta End -->
</head>