<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-light">
        <h4 class="modal-title">服務條款</h4>
      </div>
      <div class="modal-body">
        <h5>當您投稿完成後，即代表您瞭解且同意遵守本協議下示條款</h5>
        <ol>
          <li>違反法律強制或禁止規定之內容。</li>
          <li>違反公共秩序或社會善良風俗之內容。</li>
          <li>利用本服務從事商業行為或用做商業行銷等。</li>
          <li>侵害他人智慧財產權、肖像權、隱私權或蒐集、竊取及利用其他用戶權利之內容。</li>
          <li>蒐集其他用戶之帳號、密碼或其他帳戶資訊，或使用其他用戶之帳號登入。</li>
          <li>足以引誘兒童或少年為性交、猥褻行為之圖畫、照片、影片或其他相類物品。</li>
          <li>任何涉及騷擾、猥褻、威脅、詐欺、霸凌、侵害他人權益或濫用本服務之行為。</li>
          <li>利用本服務，以違反個人資料保護法之方式蒐集、竊取及利用其他用戶的個人資料</li>
          <li>透過本服務散播電腦病毒或惡意程式，或藉由網路傳輸流量癱瘓本服務或造成系統過大負荷，或任何可能或足以干擾、中斷或影響本服務正常提供之行為。</li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">同意！</button>
        <a href="./bye" class="btn btn-danger">不同意！</a>
      </div>
    </div>
  </div>
</div>