<!DOCTYPE html>
<html lang="zh-hant-tw">
<% include ./head %>
<body>
  <% include ./navbar %>
    <div class="container">
      <div class="row">      
        <div class="col-12 text-center border">
          <h2>投稿完成</h2>
            <div class="fb-page" data-href="https://www.facebook.com/YMJH.Anon/" data-small-header="true" data-width="400px" data-adapt-container-width="true"
                    data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/YMJH.Anon/" class="fb-xfbml-parse-ignore">
                  <a href="https://www.facebook.com/YMJH.Anon/">告白陽中</a>
                </blockquote>
            </div>
              <p>To be continued...</p>
        </div>      
      </div>
    </div>
  <% include ./footer %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <% include ./gtag %>
</body>
</html>